{% extends "gestionFilmsAdminBundle::base.html.twig" %}
{% block title %}{{ parent() }} | mon profil {% endblock %}
{% block stylesheets %}
{{ parent() }}
{% endblock %}
{% block content %}
{% trans_default_domain 'FOSUserBundle' %}
<div class="row-fluid">
    <div class="span12">
        <h3 class="heading">{{ 'change_password.Modification'|trans }}</h3>
        <form class="form_validation_ttip" action="{{ path('fos_user_change_password') }}" {{ form_enctype(form) }} method="POST" >
        <div class="formSep">
            {{ form_widget(form) }}
            <div class="form-actions">
                <button type="submit" class="btn btn-inverse">{{'change_password.submit'|trans}}</button>	               
            </div>
        </div>
        </form>
    </div>
</div>
{% endblock %}
{% block javascripts %}
{{ parent() }}
<script src="{{asset('lib/validation/jquery.validate.min.js')}}"></script>
<script src="{{asset('js/gebo_validation.js')}}"></script>
{% endblock %}