{% extends "gestionFilmsAdminBundle::base.html.twig" %}
{% block title %} {{ parent() }} | Modifier un film {% endblock %}
{% block stylesheets  %}
{{ parent() }}
{% endblock %}
{% block content %}
<div class="row-fluid">
    <div class="span12">
        <h3 class="heading">{{ 'page_acceuil.film_modification'|trans }}</h3>
        <form class="form_validation_ttip" action="{{ path('film_update' , { 'id': entity.id})}}"  {{ form_enctype(form) }} method="post">
        <div class="formSep">
            <div class="row-fluid">
                <div class="span12">
                    {{ form_label(form.titre , form.titre)}}
                    {{ form_widget(form.titre , { 'attr' :{'class':'span8 ttip_r' , 'title': 'form.titre' }} ) }}											
                </div>
            </div>
            <div class="row-fluid">
                <div class="span12">
                    {{ form_label(form.resume , form.resume)}}
                    {{ form_widget(form.resume , { 'attr' :{'class':'span8 ttip_r' , 'cols':'10' , 'rows': '3' , 'title': 'form.resume'}} ) }}											
                </div>
            </div>
        </div>
        <div class="formSep">
            <div class="row-fluid">
                <div class="span12">
                    {{ form_label(form.genre , form.genre)}}
                    {{ form_widget(form.genre , { 'attr' :{'class':'span8 ttip_r' , 'title': 'form.categorie.label'  }} ) }}											
                </div>
            </div>
            <div class="row-fluid">
                <div class="span12">
                    {{ form_label(form.duree , form.duree)}}
                    {{ form_widget(form.duree , { 'attr' :{'class':'span8 ttip_r' , 'title': 'form.duree'  }} ) }}
                    <span class="help-inline">Minutes</span>
                </div>
            </div>   
            <div class="row-fluid">
                <div class="span12">
                    {{ form_label(form.acteurPrincipal , form.acteurPrincipal)}}
                    {{ form_widget(form.acteurPrincipal , { 'attr' :{'class':'span8 ttip_r' , 'title': 'form.acteurP'  }} ) }}											
                </div>
            </div>
        </div>
        <div class="formSep">
            <div class="row-fluid">
                <div class="span12">
                    {{ form_label(form.acteursescondaires , form.acteursescondaires)}}
                    {{ form_widget(form.acteursescondaires , { 'attr' :{'class':'span8 ttip_r' , 'cols':"10" , 'rows': "3" , 'title': 'form.acteursS'}} ) }}											
                </div>
            </div>
            <div class="row-fluid">
                <div class="span12">
                    {{ form_label(form.anneeSortie)}}
                    {{ form_widget(form.anneeSortie , { 'attr' :{'class':'span8 ttip_r' , 'title': 'form.date'}} ) }}											
                </div>
            </div>
        </div>
        <div class="formSep">
            <div class="row-fluid">
                <div class="span12">
                    {{ form_label(form.langue , form.langue)}}
                    {{ form_widget(form.langue , { 'attr' :{'class':'span8 ttip_r' , 'title': 'form.langue.label'}} ) }}											
                </div>
            </div>
            <div class="row-fluid">
                <div class="span12">
                    {{ form_label(form.realisateur , form.realisateur)}}
                    {{ form_widget(form.realisateur , { 'attr' :{'class':'span8 ttip_r' , 'title': 'form.realisateur'}} ) }}											
                </div>
            </div>
        </div>
        <div class="formSep">
            <div class="row-fluid">
                <div class="span12">
                    {{ form_label(form.file , form.file)}}
                    {{ form_widget(form.file , { 'attr' :{'class':'uni_style ttip_r' , 'title': 'form.photo'}} ) }}											
                </div>
            </div>
        </div>
        <div class="form-actions">
            {{ form_widget(form.submit , { 'attr' : {'class':'btn btn-inverse'}} ) }}	               
        </div>
        {{form_rest(form) }}
        </form>
    </div>
</div>
{% endblock %}
{% block javascripts %}
{{ parent() }}
{% endblock %}